<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>People don&apos;t like you much, do they?</string>
	<string>People like you, but honestly I can&apos;t understand why. You could probably stand to be a little MORE neurotic. Might actually help with some of your flaws.</string>
	<string>item&apos;s 2</string>
	<string>item 3</string>
	<string>item 4</string>
	<string>item 5</string>
	<string>item 6</string>
	<string>item 7</string>
	<string>item 8</string>
	<string>item 9</string>
	<string>item 10</string>
	<string>item 11</string>
	<string>item 12</string>
	<string>item 13</string>
	<string>item 14</string>
	<string>item 15</string>
	<string>item 16</string>
	<string>item 17</string>
	<string>item 18</string>
	<string>item 19</string>
	<string>item 20</string>
	<string>item 21</string>
	<string>item 22</string>
	<string>item 23</string>
	<string>item 24</string>
	<string>item 25</string>
	<string>item 26</string>
	<string>item 27</string>
	<string>item 28</string>
	<string>item 29</string>
	<string>item 30</string>
	<string>item 31</string>
</array>
</plist>
