<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>People don&apos;t like you much, do they?</string>
	<string>People like you, but honestly I can&apos;t understand why. You could probably stand to be a little MORE neurotic. Might actually help with some of your flaws.</string>
	<string>People don't like you much, but at least you're a rule follower.</string>
	<string>You seem to be a curious sort, but are too bound up in following the rules to create anything really meaningful.</string>
	<string>You care about others and take their needs and wants into account, and let most of them walk all over you.</string>
	<string>You actually reach out to find out what other people thing, and then let them walk all over you.</string>
	<string>Thankfully you're not pushy, because most of your ideas are bad.</string>
	<string>You should talk more. </string>
	<string>My G-D you're a MESS!</string>
	<string>You're a mess, but at least you're open to being a mess.</string>
	<string>Not only are you a mess, but you are OCD about it. Lighten up, Stanley!</string>
	<string>u ru dum 11</string>
	<string>u ru dum 12</string>
	<string>u ru dum 13</string>
	<string>u ru dum 14</string>
	<string>u ru dum 15</string>
	<string>Good lord are you insufferable. People try to tell you this but you're too thick to understand.</string>
	<string>You are insufferable, but at least you know it.</string>
	<string>Stop being so pedantic. No one likes that.</string>
	<string>u ru dum 19</string>
	<string>u ru dum 20</string>
	<string>u ru dum 21</string>
	<string>u ru dum 22</string>
	<string>u ru dum 23</string>
	<string>u ru dum 24</string>
	<string>u ru dum 25</string>
	<string>u ru dum 26</string>
	<string>u ru dum 27</string>
	<string>u ru dum 28</string>
	<string>u ru dum 29</string>
	<string>u ru dum 30</string>
	<string>u ru dum 31</string>
</array>
</plist>
