<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>People don&apos;t like you much, do they?</string>
	<string>People like you, but honestly I can&apos;t understand why. You could probably stand to be a little MORE neurotic. Might actually help with some of your flaws.</string>
	<string>People don&apos;t like you much, but at least you&apos;re a rule follower.</string>
	<string>You seem to be a curious sort, but are too bound up in following the rules to create anything really meaningful.</string>
	<string>You care about others and take their needs and wants into account, and let most of them walk all over you.</string>
	<string>You actually reach out to find out what other people thing, and then let them walk all over you.</string>
	<string>Thankfully you&apos;re not pushy, because most of your ideas are bad.</string>
	<string>You should talk more. </string>
	<string>My G-D you&apos;re a MESS!</string>
	<string>You&apos;re a mess, but at least you&apos;re open to being a mess.</string>
	<string>Not only are you a mess, but you are OCD about it. Lighten up, Stanley!</string>
	<string>At least you only bore people with your problems when they ask.</string>
	<string>That&apos;s right…keep it all bottled up.</string>
	<string>Great…here comes another one of your stories…</string>
	<string>Focusing on your problems is a great way to make them worse!</string>
	<string>You have so much to give to the world…too bad no one wants it.</string>
	<string>Good lord are you insufferable. People try to tell you this but you&apos;re too thick to understand.</string>
	<string>You are insufferable, but at least you know it.</string>
	<string>Stop being so pedantic. No one likes that.</string>
	<string>No one cares to hear your pedantic opinions. Keep them to yourself.</string>
	<string>You&apos;re kind of a mild, milquetoast sort, aren&apos;t you? At least you&apos;re quiet.</string>
	<string>No one cares to hear your stories. Keep them to yourself.</string>
	<string>You like people. They do not necessarily like you.</string>
	<string>You like people. They do not necessarily like you.</string>
	<string>People are drawn to your neuroticism they same way they are drawn to looking at car crashes.</string>
	<string>No one cares about your problems. Keep them to yourself.</string>
	<string>Lighten up, Francis. </string>
	<string>You must be tough to be around.</string>
	<string>I&apos;d encourage you to talk about your problems less.</string>
	<string>No one cares about your problems. Keep them to yourself.</string>
	<string>I&apos;d encourage you to talk about your problems less.</string>
	<string>Whoa! Do you have an off switch???</string>
</array>
</plist>
